@import "config"

.navbar
  padding: 0 1rem

.navbar-nav
  .nav-item
    &:hover
      background-color: #618af3
      transition: .30s ease

    &.active
      background-color: #698dea !important

    span
      cursor: pointer

.dropdown-menu
  border-radius: 0
  margin: 0
  z-index: 1300

.dropdown-item
  font-size: 14px
  padding: 3px 15px

.navbar-brand
  padding: 0
  img
    width: 35px
    height: 100%

  .brand-text
    font-weight: bold
    font-size: 20px
    text-transform: uppercase
    color: #505050
    vertical-align: middle
    margin-left: 5px

.custom-switch
  .custom-control-label
    &:before
      background: none
      width: 39px
      height: 20px
      border-radius: 100px
      left: auto
      right: -70px
      top: 3px

.custom-switch
  padding-left: 0

  .custom-control-label
    &:after
      left: auto
      right: -49px
      top: 7px
      width: 12px
      height: 12px

.btn-custom
  color: #fff
  background-color: #527dec
  border: none
  padding: 4px 15px
  border-radius: 3px

  &:hover
    background-color: lighten(#0066cc, 5%)

  &:focus
    outline: none !important

  &:active
    background-color: lighten(#0066cc, 1%)

.btn-custom-outline
  color: #0066cc
  background-color: transparent
  border: 1px solid #999
  padding: 4px 15px
  border-radius: 3px

  &:hover
    background-color: #f5f5f5
    border: 1px solid #0066cc

  &:focus
    outline: none !important

  &:active
    color: lighten(#0066cc, 5%)

.btn-custom-outline-small
  color: #0066cc
  background-color: transparent
  border: 1px solid #999
  padding: 0px 2px
  border-radius: 3px
  width: 30px
  min-height: 28px

  &:hover
    background-color: #f5f5f5
    border: 1px solid #0066cc

  &:focus
    outline: none !important

  &:active
    color: lighten(#0066cc, 5%)


.btn-custom-outline-small-danger
  color: #dc3545
  background-color: transparent
  border: 1px solid #dc3545
  padding: 0px 2px
  border-radius: 3px
  width: 30px
  min-height: 28px

  &:hover
    background-color: #dc3545
    border: none
    color: #fff

  &:focus
    outline: none !important

  &:active
    background-color: lighten(#dc3545, 5%)
    color: #fff

.bg-blue
  background-color: #527dec

.bg-gray
  background-color: #efefef

.search
  position: relative
  .input-group-btn
    position: absolute
    right: 0px
    z-index: 900
    button
      background-color: darken(#eee, 10%)
      border: none!important
      height: 32px
      &:focus
        outline: none!important
      &:hover
        transition: .25s ease
        background-color: darken(#eee, 15%)

.search-helper
  font-size: 12px

.notice-block
  p
    font-size: 14px
    margin-bottom: 2px

.p-checkbox
  .p-checkbox-box
    width: 14px
    height: 14px

.p-checkbox
  .p-checkbox-box
    .p-checkbox-icon
      font-size: 12px

.p-treetable-thead
  display: none

.p-treetable
  .p-paginator-bottom
    border: none
    margin-top: 20px
.p-treetable .p-treetable-tbody > tr > td
  border: none
  padding: .15rem

.p-treetable .p-treetable-thead > tr > th
  border: none

.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler
  width: 1.5rem
  height: 1.5rem
  margin-right: 0.6rem
  position: relative
  top: -3px

.vs__open-indicator
  transform: scale(.7)

.refreshButton
  position: absolute
  background-color: #fff
  opacity: 0.9
  top: 10px
  right: 10px
  padding: 10px
  color: #333
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65)
  border-radius: 4px
  z-index: 1000
  img
    display: block
    height: 15px

.refreshButton:hover
  background-color: #f4f4f4

::-webkit-scrollbar
  width: 4px
  margin-left: 5px

::-webkit-scrollbar-track
  background: #d4d4d4

::-webkit-scrollbar-thumb
  background: #999
  border-radius: 10px

//modal
.modal-mask
  position: fixed
  z-index: 9998
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  display: table
  transition: opacity 0.3s ease

.modal-wrapper
  display: table-cell
  vertical-align: middle

.modal-container
  width: 600px
  height: 720px
  overflow-y: scroll
  overflow-x: hidden
  margin: 0 auto
  padding: 15px
  background-color: #fff
  border-radius: 2px
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33)
  transition: all 0.3s ease
  font-family: Helvetica, Arial, sans-serif

.modal-header
  h3
    margin-top: 0
    color: #42b983
    padding: 10px

.modal-body
  margin: 5px 0

.modal-enter
  opacity: 0

.modal-leave-active
  opacity: 0

.close
  &:focus
    border: none
    outline: none !important

  &:hover
    color: red !important


.modal-enter .modal-container,
.modal-leave-to .modal-container
  -webkit-transform: scale(1.1)
  transform: scale(1.1)

.color-selector
  border: none!important
  background-color: transparent!important
  width: 40px!important
  height: 40px!important

//geozone page custom control

.pi
  font-size: 0.7rem
  color: #000

.treetable-custom-control
  .p-treetable-tbody > tr > td
    padding: 0 !important
    font-family: $ProximaNovaRegular !important
    font-size: 16px
    .p-treetable-toggler
      margin-right: 0.4rem
      top: -4px


.leaflet-control-zoomslider-body
  width: 1px
  border: none

//Form labels and title
.p-inputtext
  font-size: 14px
  height: 32px !important
  width: 100%
  font-family: $ProximaNovaRegular
  border-radius: 0

.form-control-custom
  font-size: 14px
  height: 32px !important
  width: 100%
  font-family: $ProximaNovaRegular
  border-radius: 0
  &:focus, &:active
    background-color: transparent

.vs__dropdown-toggle
  border-radius: 0 !important

.title-custom
  padding: 10px 0 5px 0
  display: inline-block
  font-size: 14px
  font-family: $RobotoBold
  color: #444

.modalObjectLoader-container
  height: calc(100% - 170px)

.modalObjectLoader
  position: absolute
  z-index: 1100
  top: 39px
  margin: 0 auto
  width: 500px
  height: 100%
  background-color: #fff
  border-left: 1px solid #eee
  border-right: 1px solid #eee
  display: flex
  flex-direction: column
  padding: 0 10px

  .object-loader-modal-header
    display: flex
    flex-direction: row
    justify-content: flex-end
    position: absolute
    right: 15px
    top: 10px
    .close
      cursor: pointer

// Tabs
.p-tabview
  height: 100%
  .p-tabview-nav
    li
      .p-tabview-nav-link
        border: 1px solid #eee
        background: transparent
        color: #333333
        padding: 0.5rem 1rem
        font-weight: 700
        border-radius: 0
        transition: background-color 0.2s, box-shadow 0.2s
        margin: 0 0 -1px 0
        font-family: $ProximaNovaRegular
        text-decoration: none
        font-size: 14px

.p-tabview
  .p-tabview-nav
    li
      .p-tabview-nav-link
        &:not(.p-disabled):focus
          outline: none
          box-shadow: none

.p-tabview
  .p-tabview-panels
    background: #ffffff
    padding: 0
    border: none
    border-top: 1px solid #eee
    color: #333333
    border-radius: 0
    height: 100%
    .p-tabview-panel
      height: 100%

.p-tabview
  .p-tabview-nav
    li.p-highlight
      .p-tabview-nav-link
        background: #527dec
        border-color: #527dec
        color: #ffffff

.treeTable-custom
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%
  .p-treetable-wrapper
    height: 100%
    overflow: auto
    table
      width: 99%

