@import "config"
.navbar-brand
  padding: 0
  img
    width: 40px
    height: 100%
  .brand-text
    font-weight: bold
    font-size: 20px
    text-transform: uppercase
    color: #505050
    vertical-align: middle
    margin-left: 5px
.custom-switch
  .custom-control-label
    &:before
      background: none
      width: 39px
      height: 20px
      border-radius: 100px
      left: auto
      right: -70px
      top: 3px

.custom-switch
  padding-left: 0
  .custom-control-label
    &:after
      left: auto
      right: -49px
      top: 7px
      width: 12px
      height: 12px

.btn-custom
  color: #fff
  background-color: #0066cc
  border: none
  padding: 4px 15px
  border-radius: 3px
  &:hover
    background-color: lighten(#0066cc, 5%)
  &:focus
    outline: none!important
  &:active
    background-color: lighten(#0066cc, 1%)