@import "config"

.navbar
  padding: 0 1rem

.navbar-nav
  .nav-item
    &:hover
      background-color: #618af3
      transition: .30s ease

    &.active
      background-color: #698dea !important

    span
      cursor: pointer

.dropdown-menu
  border-radius: 0
  margin: 0
  z-index: 1300

.dropdown-item
  font-size: 14px
  padding: 3px 15px

.navbar-brand
  padding: 0
  img
    width: 35px
    height: 100%

  .brand-text
    font-weight: bold
    font-size: 20px
    text-transform: uppercase
    color: #505050
    vertical-align: middle
    margin-left: 5px

.custom-switch
  .custom-control-label
    &:before
      background: none
      width: 39px
      height: 20px
      border-radius: 100px
      left: auto
      right: -70px
      top: 3px

.custom-switch
  padding-left: 0

  .custom-control-label
    &:after
      left: auto
      right: -49px
      top: 7px
      width: 12px
      height: 12px

.btn-custom
  color: #fff
  background-color: #527dec
  border: none
  padding: 0px 15px
  //border-radius: 3px
  height: 26px
  &:hover
    background-color: lighten(#0066cc, 5%)

  &:focus
    outline: none !important

  &:active
    background-color: lighten(#0066cc, 1%)

.btn-custom-outline
  color: #0066cc
  background-color: transparent
  border: 1px solid #999
  padding: 0px 15px
  //border-radius: 3px
  height: 26px
  &:hover
    background-color: #f5f5f5
    border: 1px solid #0066cc
  &:focus
    outline: none !important
  &:active
    color: lighten(#0066cc, 5%)

.btn-custom-outline-small
  color: #0066cc
  background-color: transparent
  border: 1px solid #999
  padding: 0px 2px
  //border-radius: 3px
  width: 30px
  min-height: 28px
  &:hover
    background-color: #f5f5f5
    border: 1px solid #0066cc
  &:focus
    outline: none !important
  &:active
    color: lighten(#0066cc, 5%)

.btn-custom-outline-ultra-small
  color: #0066cc
  background-color: transparent
  border: 1px solid #999
  padding: 0
  border-radius: 3px
  width: 18px
  height: 18px
  display: flex
  justify-content: center
  align-items: center
  &:hover
    background-color: #f5f5f5
    border: 1px solid #0066cc
  &:focus
    outline: none !important
  &:active
    color: lighten(#0066cc, 5%)

.btn-custom-outline-small-danger
  color: #dc3545
  background-color: transparent
  border: 1px solid #dc3545
  padding: 0px 2px
  //border-radius: 3px
  width: 30px
  min-height: 28px
  &:hover
    background-color: #dc3545
    border: none
    color: #fff
  &:focus
    outline: none !important
  &:active
    background-color: lighten(#dc3545, 5%)
    color: #fff

.input-custom
  width: 100%
  height: 32px
  padding: 0.2rem 0.75rem
  border: 1px solid #ced4da
  font-size: 14px
  font-family: ProximaNovaRegular, sans-serif
.custom-form-label
  padding-top: calc(0.375rem + 1px)
  padding-bottom: calc(0.375rem + 1px)
  margin-bottom: 0
  line-height: 1
  padding-right: 0

.input-custom-small
  width: 50px
  height: 22px
  border: 1px solid #ced4da
  font-size: 14px

.select-custom-small
  width: 150px
  height: 22px
  border: 1px solid #ced4da
  font-size: 14px
  &:focus, &:hover, &:active
    outline: none!important

.bg-blue
  background-color: #527dec

.bg-gray
  background-color: #efefef

.search
  position: relative
  .input-group-btn
    position: absolute
    right: 0px
    z-index: 900
    button
      background-color: darken(#eee, 10%)
      border: none!important
      height: 32px
      &:focus
        outline: none!important
      &:hover
        transition: .25s ease
        background-color: darken(#eee, 15%)

.search-helper
  font-size: 12px

.notice-block
  p
    font-size: 14px
    margin-bottom: 2px

.p-checkbox
  .p-checkbox-box
    width: 14px
    height: 14px

.p-checkbox
  .p-checkbox-box
    .p-checkbox-icon
      font-size: 12px

.p-treetable-thead
  display: none

.p-treetable
  .p-paginator-bottom
    border: none
    margin-top: 20px
.p-treetable .p-treetable-tbody > tr > td
  border: none
  padding: .15rem
  .parent
    font-family: $ProximaNovaBold
    font-weight: normal
    color: #444

.p-treetable .p-treetable-thead > tr > th
  border: none

.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler
  width: 1.5rem
  height: 1.5rem
  margin-right: 0.6rem
  position: relative
  top: -3px

  // Ховер тритабле
.p-treetable .p-treetable-tbody > tr
  cursor: pointer
  &:hover
    background-color: #eee
    transition: .25s
  &:focus
    outline: none!important

.vs__open-indicator
  transform: scale(.7)

.refreshButton
  position: absolute
  background-color: #fff
  opacity: 0.9
  top: 10px
  right: 10px
  padding: 10px
  color: #333
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65)
  border-radius: 4px
  z-index: 1000
  img
    display: block
    height: 15px

.refreshButton:hover
  background-color: #f4f4f4

::-webkit-scrollbar
  width: 4px
  margin-left: 5px

::-webkit-scrollbar-track
  background: #d4d4d4

::-webkit-scrollbar-thumb
  background: #999
  border-radius: 10px

//modal
.modal-mask
  position: fixed
  z-index: 9998
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  display: table
  transition: opacity 0.3s ease

.modal-wrapper
  display: table-cell
  vertical-align: middle

.modal-container
  width: 600px
  height: 720px
  overflow-y: scroll
  overflow-x: hidden
  margin: 0 auto
  padding: 15px
  background-color: #fff
  border-radius: 2px
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33)
  transition: all 0.3s ease
  font-family: Helvetica, Arial, sans-serif

.modal-header
  h3
    margin-top: 0
    color: #42b983
    padding: 10px

.modal-body
  margin: 5px 0

.modal-enter
  opacity: 0

.modal-leave-active
  opacity: 0

.close
  &:focus
    border: none
    outline: none !important

  &:hover
    color: red !important


.modal-enter .modal-container,
.modal-leave-to .modal-container
  -webkit-transform: scale(1.1)
  transform: scale(1.1)

.color-selector
  border: none!important
  background-color: transparent!important
  width: 40px!important
  height: 40px!important

//geozone page custom control

.pi
  font-size: 0.7rem
  color: #000

.treetable-custom-control
  .p-treetable-tbody > tr > td
    padding: 0 !important
    font-family: $ProximaNovaRegular !important
    font-size: 16px
    .p-treetable-toggler
      margin-right: 0.4rem
      top: -4px


.leaflet-control-zoomslider-body
  width: 1px
  border: none

//Form labels and title
.p-inputtext
  font-size: 14px
  height: 32px !important
  width: 100%
  font-family: $ProximaNovaRegular
  border-radius: 0

.form-control-custom
  font-size: 14px
  height: 32px !important
  width: 100%
  font-family: $ProximaNovaRegular
  border-radius: 0
  &:focus, &:active
    background-color: transparent

.vs__dropdown-toggle
  border-radius: 0 !important

.title-custom
  padding: 10px 0 5px 0
  display: inline-block
  font-size: 14px
  font-family: $RobotoBold
  color: #444

.modalObjectLoader-container
  height: calc(100% - 160px)

.modalObjectLoader
  position: absolute
  z-index: 1100
  top: 39px
  margin: 0 auto
  width: 500px
  height: 100%
  background-color: #fff
  border-left: 1px solid #eee
  border-right: 1px solid #eee
  display: flex
  flex-direction: column
  padding: 0 10px

  .object-loader-modal-header
    display: flex
    flex-direction: row
    justify-content: flex-end
    position: absolute
    right: 15px
    top: 10px
    .close
      cursor: pointer

// Tabs
.p-tabview
  height: 100%
  .p-tabview-nav
    li
      .p-tabview-nav-link
        border: 1px solid #eee
        background: transparent
        color: #333333
        padding: 0.5rem 1rem
        font-weight: 700
        border-radius: 0
        transition: background-color 0.2s, box-shadow 0.2s
        margin: 0 0 -1px 0
        font-family: $ProximaNovaRegular
        text-decoration: none
        font-size: 14px

.p-tabview
  .p-tabview-nav
    li
      .p-tabview-nav-link
        &:not(.p-disabled):focus
          outline: none
          box-shadow: none

.p-tabview
  .p-tabview-panels
    background: #ffffff
    padding: 0
    border: none
    border-top: 1px solid #eee
    color: #333333
    border-radius: 0
    height: 100%
    .p-tabview-panel
      height: 100%

.p-tabview
  .p-tabview-nav
    li.p-highlight
      .p-tabview-nav-link
        background: #527dec
        border-color: #527dec
        color: #ffffff

//.treeTable-custom
//  display: flex
//  flex-direction: column
//  justify-content: space-between
//  height: 100%
//  .p-treetable-wrapper
//    height: 100%
//    overflow: auto
//    table
//      width: 99%

.tooltips
  position: absolute
  display: flex
  z-index: 35000
  box-shadow: 0 0 5px #d0d0d0
  background-color: hsla(0,0%,100%,.95)
  padding: .25em .7em
  font-size: 14px
  color: #000
  overflow: hidden
  border-radius: 1px
  .tooltips_small_text
    font-size: 12px
    padding: 0
    margin: 0
  .tooltips_header
    display: flex
    flex-direction: row
    margin-bottom: 2px
    align-items: center
    justify-content: space-between
    .name
      font-family: $RobotoBold
      font-weight: normal
      color: #444
      font-size: 14px
      margin-right: 20px
    .last_contact
      font-size: 11px
      text-align: right
      padding: 0
      margin: 0
      line-height: 1.2
  .tooltips_footer
    display: flex
    flex-direction: row
    justify-content: stretch
    margin-top: 2px
    .speed, .coords
      display: flex
      flex-direction: column
      align-items: center
      border: 1px solid #eee
      padding: 0px 5px
      width: 100%
      font-size: 12px
      text-align: center
      span
        font-family: $ProximaNovaBold
        color: #444
        //Track tooltip//
  .speed_control, .time_control
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
    .start_speed, .end_speed, .start_time, .end_time
      border: 1px solid #eee
      padding: 0px 5px
      width: 200px
      font-size: 12px
      text-align: center
      span
        font-family: $ProximaNovaBold
        color: #444
  .point_content
    display: flex
    flex-direction: row
    align-items: center
    .point_speed, .point_time
      border: 1px solid #eee
      padding: 0px 5px
      width: 200px
      font-size: 12px
      text-align: center
      span
        font-family: $ProximaNovaBold
        color: #444
  .point_geozone
    margin-top: 3px
    padding: 0px 5px
    width: auto
    font-size: 12px
    text-align: left
    span
      font-family: $ProximaNovaBold
      color: #444
  .point_address
    margin-bottom: 3px
    span
      font-size: 12px!important
      font-family: $ProximaNovaBold
      color: #444


  .address
    font-size: 12px!important
    hr
      padding: 0
      margin: 1px 0
  .speedLimit
    font-size: 12px!important
    hr
      padding: 0
      margin: 1px 0
    span
      font-family: $ProximaNovaBold
      color: #444

.map-label-content
  white-space: nowrap
  position: relative
  top: -54px
  border: 1px solid #999
  display: inline
  background-color: hsla(0,0%,100%,.95)
  padding: .15em .5em
  font-size: 12px
  color: #000


//pagination
.pagination-wrap
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%
  overflow-y: auto
  overflow-x: hidden
  position: relative
.pagination-items-list
  padding: 0
  .pagination-items
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1px 10px
    cursor: pointer
    &:hover
      background-color: #eee


.pagination
  position: sticky
  bottom: 0
  height: 50px
  padding: 20px 5px
  align-items: center
  background: #ffffff
  border-top: 1px solid #eee
  border-radius: 0
  z-index: 1000
  display: flex
  justify-content: space-between
  align-items: center
  .pagination-left, .pagination-right
    button
      border: 1px solid #d2d2d2!important
      background-color: #f5f5f5
      padding: 0 7px
      font-size: 18px
      line-height: 1.45
      margin: 0
      border-radius: 2px
      color: #333
      &:hover
        background-color: darken(#f5f5f5, 3%)
        //border-bottom: 2px solid red!important
      &:active, &:focus
        outline: none
  .pagination-mid
    ul
      padding: 0
      margin: 0
      li
        list-style: none
        display: inline
        margin: 0 2px
        padding: 2px 6px
        border: 1px solid #d2d2d2
        background-color: #f5f5f5
        &.separation
          background-color: transparent
          border: none
          margin: 0
        &:hover
          background-color: darken(#f5f5f5, 3%)
          border-bottom: 2px solid #527dec
        &.current
          border-bottom: 2px solid #527dec
        a
          color: #333
          font-size: 16px
          text-decoration: none


//.gps_ring
//  border: 3px solid red
//  -webkit-border-radius: 30px
//  height: 18px
//  width: 18px
//  -webkit-animation: pulsate 1s ease-out
//  -webkit-animation-iteration-count: infinite

@-webkit-keyframes pulsate
  0%
    -webkit-transform: scale(0.1, 0.1)
    opacity: 0.0
  50%
    opacity: 1.0
  100%
    -webkit-transform: scale(1.2, 1.2)
    opacity: 0.0

// Raport tabs
.th-font
  font-family: $RobotoBold
  font-size: 13px

.table
  thead
    th
      border-bottom: none
.table
  thead
    th
      border-top: none
      border-bottom: 1px solid #dee2e6

.download-links
  display: flex
  justify-content: flex-end
  margin-right: 10px
  margin-top: 10px
  margin-bottom: 10px
  a
    margin: 0 5px 0 5px

.nav-tabs
  .nav-item
    cursor: pointer
    position: relative
    .close-tab
      position: absolute
      top: -2px
      right: 3px
      img
        width: 17px
        height: 100%
  .nav-link
    border: 1px solid transparent
    border-top-left-radius: 0
    border-top-right-radius: 0
    padding: 0.5rem 2.1rem

.v_tab_table
  width: auto
  margin: 0 auto
  .v_tab_table__header__empty
    font-size: 16px
    color: red

.v_tab_table__header
  display: flex
  justify-content: space-around
  .v_tab_table__header__combine
    display: flex
    flex-wrap: wrap
    > *
      flex-basis: 50%
      border: 1px solid #e4e4e4
      margin: 0
      &:last-child
        border-top: none
        flex-basis: 100%

.v_tab_table__header
  border-bottom: 1px solid #e4e4e4
  > *
    margin: 0
    text-align: center
    font-family: $RobotoBold

    flex-basis: 20%
    font-size: 13px
    color: #444
    padding-top: 10px
    &:last-child
      border: none
      padding-top: 0

.v_tab_table_name
  font-size: 16px
  font-family: $RobotoBold
  margin: 0
  color: #444

.v_tab_table__body__row
  display: flex
  justify-content: space-around
  padding: 5px 0 5px 0
  border-bottom: 1px solid #e4e4e4
  &:hover
    background-color: #e4e4e4
  .v_tab__row
    flex-basis: 20%
    text-align: center
  .distance_speed
    display: flex
    justify-content: space-around

// Routes Component

.routes-control-create-cp-list
  border: 1px solid #e4e4e4
  //padding: 2px 10px
  height: 200px
  overflow: auto

.routes-control-create-cp-list-row
  list-style: none
  border-bottom: 1px solid #e4e4e4
  cursor: pointer
  padding: 2px 10px
  &:hover
    background-color: #e4e4e4
  //&:last-child
  //  border: none
.routes-control-head
  background-color: #e4e4e4
  padding: 4px 0
  input
    margin-left: 10px
  //border-bottom: 1px solid #e4e4e4

.created-routes-list
  .created-routes-list-row
    border-top: 1px solid #e4e4e4
    list-style: none
    //padding: 2px 5px
    .created-routes-control-wrap
      padding-left: 10px
      height: 30px
      //border-top: 1px solid #e4e4e4
      //border-bottom: 1px solid #e4e4e4
      //background-color: #e4e4e4
      .created-routes-control
        display: flex
        align-items: center

.checkpoint-numder
  white-space: nowrap
  position: relative
  //top: -54px
  //border: 1px solid #999
  display: inline
  background-color: #0033CC
  padding: .15em .4em
  font-size: 12px
  color: #fff

.checkpoint-content
  white-space: nowrap
  position: relative
  display: inline
  padding: .15em .4em
  background-color: hsla(0,0%,100%,.95)
  font-size: 12px
  color: #0033CC

.geozone-list
  padding: 0
  margin: 0
  li
    list-style: none


//Расписание
.schedule-container
  position: absolute
  z-index: 1100
  top: 39px
  margin: 0 auto
  //max-width: 100%
  width: 100%
  height: 100%
  background-color: #fff
  padding-right: 5px
  overflow: auto
  .schedule-title
    display: flex
    align-items: center
    background-color: #e4e4e4
    padding: 4px
    //border-bottom: 1px solid #e4e4e4
    p
      padding: 0
      margin: 0 0 0 0
        left: 10px
      font-family: $ProximaNovaRegular
      font-size: 16px
      span
        font-family: $ProximaNovaBold
        font-size: 15px
  .schedule-sittings
    width: 400px
.input-custom-time
  width: 100%
  height: 28px
  padding: 0.2rem 0.75rem
  border: 1px solid #ced4da
  font-size: 14px
  font-family: ProximaNovaRegular, sans-serif

.select-custom-middle
  width: 175px
  height: 28px
  border: 1px solid #ced4da
  font-size: 14px
  &:focus, &:hover, &:active
    outline: none!important
.schedule-grid
  margin-left: 10px
  width: auto
  min-height: 200px
  max-height: 500px
  overflow: auto!important
  table
    max-width: 1000px
    tbody
      tr
        td
          padding: 10px
          span
            position: relative
            top: -12px
            right: -12px
.checkPointList
  padding: 0
  margin: 0
  li
    list-style: none
    padding: 5px 0
    border-bottom: 1px solid #e4e4e4

.timeLimits
  margin-left: 10px
//.schedule-objects
//  margin-left: 10px



//Рейс
.round-container
  position: absolute
  z-index: 1100
  top: 39px
  margin: 0 auto
  //max-width: 100%
  width: 100%
  height: 100%
  background-color: #fff
  padding-right: 5px
  overflow: auto
  .round-title
    display: flex
    align-items: center
    background-color: #e4e4e4
    padding: 4px
    p
      padding: 0
      margin: 0 0 0 0
        left: 10px
      font-family: $ProximaNovaRegular
      font-size: 16px
  .round-sittings
    width: 400px

//Список рейсов
.roundList-container
  position: absolute
  z-index: 1100
  top: 39px
  margin: 0 auto
  //max-width: 100%
  width: 100%
  height: 100%
  background-color: #fff
  padding-right: 5px
  overflow: auto
  .roundList-title
    display: flex
    align-items: center
    background-color: #e4e4e4
    padding: 4px
    p
      padding: 0
      margin: 0 0 0 0
        left: 10px
      font-family: $ProximaNovaRegular
      font-size: 16px